# IDE
.idea/

# Logs
*.log*
yarn.lock

# Misc
example
notes/
node_modules
coverage
.nyc_output
*.xml
.DS_Store
.cache/
tmp/

# Dist
*.gz
dist/quikpik-esm.js.map
dist/quikpik-esm.css.map
dev/

# Possibly sensitive data
*.csv
samples/
todo.md

# Config
.env
public/build
